.header-top a{
    outline: none;
    text-decoration: none;
}
.navbar ul {
}
.navbar ul a {

}
.navbar .submenu {
  background: rgba(0,0,0,.5);
  margin: 0;
  padding: 0;
}
.submenu li a {
  border-bottom: 1px solid rgba(255,255,255,.3);
  color: white;
  padding: 5px 0;
  display: block;
}
.submenu li{ 
display: block!important;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSansRegular/OpenSansRegular.ttf);
}
@font-face {
    font-family:OpenSansSemiBold;
    src: url(../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf);
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url(../fonts/Proxima%20Nova%20Regular.otf);
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url(../fonts/ProximaNova-Semibold.ttf);
}

body,html{
    overflow-x: hidden;
    padding-right:0px !important;
}

/*-------------------------------------------------------header------------------------------------------------------------------------*/
div.scrollup {
    position: fixed;
    color: #fff;
    background-color: #ff525c;
    right: 20px;
    bottom: 0;
    padding: 10px 20px;
    font-size: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    display: none;
    text-align: center;
}
div.scrollup:hover {
    background-color: #000; /* цвет заднего фона при наведении */
}
.navbar-top {
    -webkit-transition: all  0.5s ease-out;
    -moz-transition: all  0.5s ease-out;
    -o-transition: all  0.5s ease-out;
    transition: all  0.5s ease-out;
}

.navbar-static{
     margin-top: 90px;
}

.navbar-inverse .navbar-nav > li > .a-top {
    color: #fff;
}
.navbar-inverse .navbar-nav > .li-top{
    color: #fff;
}

.navbar-scrol{
    background: #000;
}

.navbar-inverse .navbar-nav > li > .a{
    color: #000;
}
.navbar-inverse .navbar-nav > .li{
    color: #000;
}










.js-example-basic-hide-search{
    font-size: 18px;
    font-family: ProximaNovaRegular;
    border: none;
    margin-top: 2px;
}
.header-top{
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo{
    padding-right: 100px;
}
.soch{
    margin-left: 10px;
    margin-right: 10px;
}
.soch2{
    margin-left: 15px;
}
.soch:hover{
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.header-top-p{
    display: inline-block;
    font-family: ProximaNovaRegular;
    font-size: 18px;
    margin-left: 15px;
}
.header-top-a:hover{
    text-decoration: none;
}
.vid-container{
    position:relative;
    min-height: 900px;
    height: auto;
    overflow:hidden;
}
.bgvid{
    position:absolute;
    top: 0;
    height: 990px;
}
.inner-container{
    position:absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    width:100%;
    position:absolute;
    overflow:hidden;
}

.box{
    position:absolute;
    height:100%;
    width:100%;
    color:#fff;
    background:rgba(0,0,0,0.3);
    padding:0px 0px;
}
.box h1{
    text-align:center;
    margin:190px 0 30px;
    font-size:48px;
    font-family: OpenSansRegular;
}
.box .header-p{
    font-family: OpenSansRegular;
    font-size: 23px;
    padding-bottom: 70px;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
}

.box p{
    text-align:center;
}
.box p span{
    cursor:pointer;
    color:#666;
}
.navbar{

    text-align: center;
    border: none;
}
.navbar1{
    background-image: url("../img/navbar-fon.png");
    background-size: cover;
}
.navbar-nav {
    float: none;
    text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}


.navbar .navbar-nav> li > a {
    padding-left: 35px;
    padding-right: 35px;
    color: #fff;
    font-size: 19px;
    font-family: ProximaNovaRegular;
    display: inline-block;
    outline: none;
    border-bottom: 2px solid rgba(150, 150, 150, 0);
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #ff525c;
    background: none;
    border-bottom: 2px solid #ff525c;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #ff525c;
    background: none;
    border-bottom: 2px solid #ff525c;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #ff525c;
    background: none;
    border-bottom: 2px solid #ff525c;
}
.box .header-p2{
    font-family: OpenSansRegular;
    font-size: 25px;
    padding-top: 10px;
}
.box .header-p3{
    margin-top: 60px;
    font-family: OpenSansRegular;
    font-size: 23px;
    padding-bottom: 20px;
}
.btn-header{
    position: absolute;
    left: 50%;
    border-radius: 0;
    color: #fff;
    margin-left: -110px;
    background: #ff525c;
    font-family: OpenSansRegular;
    font-size: 17px;
    border: 2px solid #ff525c;
}
.btn-header:hover{
    color: #fff;
}
.block-header-img{
    font-family: OpenSansRegular;
    font-size: 18px;
    display: inline-block;
    width: 180px;
    text-align: center;
}
.header-img{
    text-align: center;
}
.block-header-top-a{
    display: inline-block;
}
/*=========================================media======================================*/
@media (min-width: 1201px) and (max-width: 1449px) {
    .navbar-static{
        margin-top: 70px;
    }
    .header-top{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .vid-container{
        position:relative;
        min-height: 700px;
        height: auto;
        overflow:hidden;

    }
    .bgvid{
        position:absolute;
        top: 0;
        height: 800px;
    }
    .inner-container{
        position:absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        width:100%;
        position:absolute;
        overflow:hidden;
    }

    .box{
        position:absolute;
        height:100%;
        width:100%;
        color:#fff;
        background:rgba(0,0,0,0.3);
        padding:0px 0px;
    }
    .box h1{
        margin:80px 0 30px;
        font-size:40px;
    }
    .box .header-p{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .navbar .navbar-nav> li > a {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 17px;
        border-bottom: 2px solid rgba(150, 150, 150, 0);
    }

    .box .header-p2{
        font-size: 22px;
        padding-top: 30px;
    }
    .box .header-p3{
        margin-top: 20px;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .btn-header{
        position: absolute;
        left: 50%;
        margin-left: -110px;
        font-size: 16px;
    }
    .block-header-img{
        font-size: 16px;
        width: 180px;
        text-align: center;
    }
}
@media (min-width: 1450px) and (max-width: 1460px) {
    .navbar-static{
        margin-top: 70px;
    }
    .header-top{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .vid-container{
        position:relative;
        min-height: 780px;
        height: auto;
        overflow:hidden;
    }
    .bgvid{
        position:absolute;
        top: 0;
        height: 830px;
    }
    .inner-container{
        position:absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        width:100%;
        position:absolute;
        overflow:hidden;
    }

    .box{
        position:absolute;
        height:100%;
        width:100%;
        color:#fff;
        background:rgba(0,0,0,0.3);
        padding:0px 0px;
    }
    .box h1{
        margin:80px 0 30px;
        font-size:40px;
    }
    .box .header-p{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .navbar .navbar-nav> li > a {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 17px;
        border-bottom: 2px solid rgba(150, 150, 150, 0);
    }

    .box .header-p2{
        font-size: 22px;
        padding-top: 30px;
    }
    .box .header-p3{
        margin-top: 20px;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .btn-header{
        position: absolute;
        left: 50%;
        margin-left: -110px;
        font-size: 16px;
    }
    .block-header-img{
        font-size: 16px;
        width: 180px;
        text-align: center;
    }
}
@media (min-width: 1600px) and (max-width: 2500px) {
    .bgvid{
        position:absolute;
        top: 0;
        height: 1350px;
    }
}
@media (max-width: 344px) {
    .navbar-static{
        margin-top: 229px;
    }
}
@media (min-width: 345px) and (max-width: 449px) {
    .navbar-static{
        margin-top: 195px;
    }
}
@media (min-width: 450px) and (max-width: 579px) {
    .navbar-static{
        margin-top: 158px;
    }
}
@media (min-width: 580px) and (max-width: 613px) {
    .navbar-static{
        margin-top: 158px;
    }
}
@media (min-width: 614px) and (max-width: 767px) {
    .navbar-static{
        margin-top: 125px;
    }
}
@media (max-width: 767px) {

    .navbar-nav {
        float: left;
        text-align: left;
    }
    .navbar-nav li {
        float: left;
        display: inline;
        width: 100%;
    }
    .js-example-basic-hide-search{
        font-size: 18px;
        margin-top: 7px;
    }
    .header-top{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo{
        padding-left: 50px;
        padding-right: 50px;
    }
    .soch{
        margin-left: 8px;
        margin-right: 8px;
    }
    .soch2{
        margin-left: 10px;
    }
    .header-top-p{
        font-size: 16px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .header-top-a:hover{
        text-decoration: none;
    }
    .vid-container{
        position:relative;
        min-height: 700px;
        height: auto;
        overflow:hidden;
    }
    .bgvid{
        position:absolute;
        top: 0;
        height: 800px;
    }
    .inner-container{
        position:absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        width:100%;
        position:absolute;
    }

    .box{
        position:absolute;
        height:100%;
        width:100%;
        padding:0px 0px;
    }
    .box h1{
        margin: 90px 0 20px;
        font-size:28px;
    }
    .box .header-p{
        font-size: 16px;
        padding-bottom: 7px;
    }
    .navbar .navbar-nav> li > a {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 16px;
    }

    .box .header-p2{
        font-size: 18px;
        padding-top: 20px;
    }
    .box .header-p3{
        margin-top: 10px;
        font-size: 16px;
        padding-bottom: 10px;
    }
    .btn-header{
        position: absolute;
        left: 50%;
        margin-left: -110px;
        font-size: 16px;
    }
    .block-header-img{
        font-size: 14px;
        width: 100px;
        text-align: center;
    }
    .head-img{
       width: 60px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-static{
        margin-top: 124px;
    }
    .js-example-basic-hide-search{
        font-size: 18px;
        margin-top: 7px;
    }
    .header-top{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo{
        padding-right: 10px;
    }
    .soch{
        margin-left: 8px;
        margin-right: 8px;
    }
    .soch2{
        margin-left: 10px;
    }
    .header-top-p{
        font-size: 16px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .header-top-a:hover{
        text-decoration: none;
    }
    .vid-container{
        position:relative;
        min-height: 700px;
        height: auto;
        overflow:hidden;
    }
    .bgvid{
        position:absolute;
        top: 0;
        height: 800px;
    }
    .inner-container{
        position:absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        width:100%;
        position:absolute;
    }

    .box{
        position:absolute;
        height:100%;
        width:100%;
        padding:0px 0px;
    }
    .box h1{
        margin: 60px 0 30px;
        font-size:33px;
    }
    .box .header-p{
        font-size: 18px;
        padding-bottom: 30px;
    }
    .navbar .navbar-nav> li > a {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 16px;
    }

    .box .header-p2{
        font-size: 20px;
        padding-top: 30px;
    }
    .box .header-p3{
        margin-top: 30px;
        font-size: 18px;
        padding-bottom: 20px;
    }
    .btn-header{
        position: absolute;
        left: 50%;
        margin-left: -110px;
        font-size: 16px;
    }
    .block-header-img{
        font-size: 14px;
        width: 140px;
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-static{
        margin-top: 80px;
    }
    .js-example-basic-hide-search{
        font-size: 18px;
        margin-top: 7px;
    }
    .header-top{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo{
        padding-right: 10px;
    }
    .soch{
        margin-left: 5px;
        margin-right: 5px;
    }
    .soch2{
        margin-left: 10px;
    }
    .header-top-p{
        font-size: 16px;
        margin-left: 10px;
    }
    .header-top-a:hover{
        text-decoration: none;
    }
    .vid-container{
        position:relative;
        min-height: 750px;
        height: auto;
        overflow:hidden;
    }
    .bgvid{
        position:absolute;
        top: 0;
        height: 840px;
    }
    .inner-container{
        position:absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        width:100%;
        position:absolute;
        overflow:hidden;
    }

    .box{
        position:absolute;
        height:100%;
        width:100%;
        color:#fff;
        background:rgba(0,0,0,0.3);
        padding:0px 0px;
    }
    .box h1{
        margin:100px 0 30px;
        font-size:40px;
    }
    .box .header-p{
        font-size: 20px;
        padding-bottom: 40px;
    }
    .navbar .navbar-nav> li > a {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 17px;
        border-bottom: 2px solid rgba(150, 150, 150, 0);
    }

    .box .header-p2{
        font-size: 22px;
        padding-top: 30px;
    }
    .box .header-p3{
        margin-top: 40px;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .btn-header{
        position: absolute;
        left: 50%;
        margin-left: -110px;
        font-size: 16px;
    }
    .block-header-img{
        font-size: 16px;
        width: 180px;
        text-align: center;
    }
}
/*-------------------------------------------------block1----------------------------------------------------------------*/
.block1{
    text-align: center;
    padding-bottom: 40px;
	padding-top: 20px;
}
h3{
    font-size: 35px;
    text-align: center;
    font-family: ProximaNovaRegular;
}
.block1-figure{
    font-size: 22px;
    font-family: OpenSansSemiBold;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .block1{
        padding-bottom: 40px;
    }
    h3{
        font-size: 28px;
    }
    .block1-figure{
        font-size: 16px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .block1{
        padding-bottom: 40px;
    }
    h3{
        font-size: 30px;
    }
    .block1-figure{
        font-size: 16px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .block1{
        padding-bottom: 40px;
    }
    h3{
        font-size: 30px;
    }
    .block1-figure{
        font-size: 18px;
    }
}
/*-------------------------------------------------block2----------------------------------------------------------------*/
.block2{
    padding-bottom: 90px;
    padding-top: 30px;
    background-size: cover;
    background-image: url("../img/block2-fon.png");
    color: #fff;
}
.block2-p{
    text-align: center;
    font-size: 22px;
    font-family:  OpenSansRegular;
    padding-top: 20px;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .block2{
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .block2-p{
        font-size: 15px;
        padding-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .block2{
        padding-bottom: 50px;
        padding-top: 20px;
    }
    .block2-p{
        font-size: 18px;
        padding-top: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .block2{
        padding-bottom: 70px;
        padding-top: 20px;
    }
    .block2-p{
        font-size: 18px;
        padding-top: 20px;
    }
}
/*-------------------------------------------------block3----------------------------------------------------------------*/
.block3{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}
h6{
    font-size: 23px;
    font-family: OpenSansSemiBold;
}
.block3-figcaption{
    font-family: OpenSansRegular;
    font-size: 18px;
}
.block3-figure{
    padding-top: 70px;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .block3{
        padding-bottom: 30px;
        padding-top: 20px;
    }
    h6{
        font-size: 18px;
    }
    .block3-figcaption{
        font-size: 15px;
    }
    .block3-figure{
        padding-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .block3{
        padding-bottom: 30px;
        padding-top: 20px;
    }
    h6{
        font-size: 18px;
    }
    .block3-figcaption{
        font-size: 15px;
    }
    .block3-figure{
        padding-top: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .block3{
        padding-bottom: 30px;
        padding-top: 20px;
    }
    h6{
        font-size: 20px;
    }
    .block3-figcaption{
        font-size: 16px;
    }
    .block3-figure{
        padding-top: 40px;
    }
}
/*-------------------------------------------------block4----------------------------------------------------------------*/
.block4-div{
    display: inline-block;
    font-family: OpenSansRegular;
    font-size: 17px;
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 15px;
}
.block4{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .arra{
        width: 40px;
        display: none;
    }
    .block4-div{
        height: 100px;
        width: 270px;
        text-align: center;
        font-size: 15px;
        padding-right: 1px;
        padding-left: 1px;
        margin-top: 15px;
    }
    .block4{
        padding: 20px 0 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .arra{
        width: 40px;
    }
    .block4-div{
        font-size: 15px;
        padding-right: 1px;
        padding-left: 1px;
        margin-top: 15px;
    }
    .block4{
        padding: 20px 0 40px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .arra{
        width: 40px;
    }
    .block4-div{
        font-size: 15px;
        padding-right: 1px;
        padding-left: 1px;
        margin-top: 15px;
    }
    .block4{
        padding: 20px 0 40px;
    }
}
/*-------------------------------------------------block5----------------------------------------------------------------*/
.block5{
    padding-bottom: 40px;
    padding-top: 30px;
    background-size: cover;
    background-image: url("../img/block5-fon.png");
    text-align: center;
    color: #fff;
}
.btn-block5{
    border-radius: 0;
    color: #fff;
    margin-top: 20px;
    background: #ff525c;
    font-family: OpenSansRegular;
    font-size: 17px;
    border: 2px solid #ff525c;
}
.btn-block5:hover{
    color: #fff;
}
.block5-p{
    font-family:  OpenSansRegular;
    font-size: 17px;
}

.map{
    width: 100%;
    height: 700px;
 }
.modal-title{
    text-align: center;
    font-family: ProximaNova-Semibold;
    font-size: 28px;
}
.modal-dialog{
    border-radius: 0;
   text-align: center;
}
.modal-content{
    border-radius: 0;
}
.btn-model{
    border-radius: 0;
    color: #fff;
    margin-top: 20px;
    background: #ff525c;
    font-family: ProximaNovaRegular;
    font-size: 24px;
    border: 2px solid #ff525c;
    width: 100%;
}
.btn-model:hover{
    color: #fff;
}
.form-control{
    border-radius: 0;
    border: 0;
    box-shadow: none;
    font-family: ProximaNovaRegular;
    font-size: 24px;
    background: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .modal-title{
        font-size: 20px;
    }

    .btn-model{
        margin-top: 20px;
        font-size: 18px;
        width: 100%;
    }
    .form-control{
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 60px;
    }

    .block5{
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .btn-block5{
        margin-top: 20px;
        font-size: 16px;
    }
    .block5-p{
        font-size: 16px;
    }

    .map{
        width: 100%;
        height: 350px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .block5{
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .btn-block5{
        margin-top: 20px;
        font-size: 16px;
    }
    .block5-p{
        font-size: 16px;
    }

    .map{
        width: 100%;
        height: 350px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .block5{
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .btn-block5{
        margin-top: 20px;
        font-size: 16px;
    }
    .block5-p{
        font-size: 16px;
    }

    .map{
        width: 100%;
        height: 400px;
    }
}
/*=========================================media======================================*/
@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1200px) {

}
/*
----------------------------------------------------------------------------------------------------------------------
=====================================================page1================================================================================
----------------------------------------------------------------------------------------------------------------------------
*/
.navbar2{
    background: #404040;
}
.us-h{
    text-align: center;
    font-size: 30px;
    font-family:  OpenSansSemiBold;
    margin-top: 80px;
    padding-bottom: 25px;
}
h5{
    font-size: 30px;
    font-family:  OpenSansSemiBold;
}
.us-p{
    font-size: 18px;
    font-family: OpenSansRegular;
}
.us-p2{
    font-size: 16px;
    font-family: OpenSansRegular;
    padding-bottom: 50px;
}
.ur-row{
    min-height: 400px;
}
.soch-a:hover{
    text-decoration: none;
}
.block-soch{
    text-align: center;
    padding-top: 25px;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .us-h{
        font-size: 20px;
        margin-top: 80px;
        padding-bottom: 20px;
    }
    h5{
        font-size: 20px;
    }
    .us-p{
        font-size: 15px;
    }
    .us-p2{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .ur-row{
        min-height: 400px;
        text-align: center;
    }
    .block-soch{
        padding-top: 20px;
    }
    .phono-img{
        width: 150px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .us-h{
        font-size: 27px;
        margin-top: 80px;
        padding-bottom: 20px;
    }
    h5{
        font-size: 27px;
    }
    .us-p{
        font-size: 16px;
    }
    .us-p2{
        font-size: 15px;
        padding-bottom: 30px;
    }
    .ur-row{
        min-height: 400px;
    }
    .block-soch{
        padding-top: 20px;
    }
    .phono-img{
        width: 180px;
    }
}

/*
----------------------------------------------------------------------------------------------------------------------
=====================================================page2================================================================================
----------------------------------------------------------------------------------------------------------------------------
*/
.map2{
    width: 100%;
    height: 630px;
}
.btn-header2{
    border-radius: 0;
    color: #fff;
    margin: 0 auto;
    background: #ff525c;
    font-family: OpenSansRegular;
    font-size: 17px;
    border: 2px solid #ff525c;
}
.btn-header2:hover{
    border: 2px solid #ff525c;
    background: none;
    color: #ff525c;
}
.contact{
    text-align: center;
}
.map-bloock{
    position: relative;
}
.block-contact{
    color: #fff;
    padding: 25px 15px;
    position: absolute;
    top: 10%;
    right: 10%;
    background: url("../img/contact-fon.png" );
    background-size: cover;
    width: 370px;
    text-align: center;
    font-family:  OpenSansSemiBold;
    font-size: 20px;
}
.block-contact-p{
    text-align: left;
    font-size: 16px;
    font-family: OpenSansRegular;
    margin-left: 20px;
    margin-top: 10px;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .map-bloock{
        text-align: center;
    }
    .map2{
        width: 100%;
        height: 300px;
    }
    .btn-header2{
        margin: 0 auto;
        font-size: 17px;
        border: 2px solid #ff525c;
    }
    .block-contact{
        color: #fff;
        padding: 20px 15px;
        position: static;
        width: 300px;
        display: inline-block;
        margin: 0 auto;
        font-size: 20px;
    }
    .block-contact-p{
        font-size: 14px;
        margin-left: 15px;
        margin-top: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .block-contact{
        padding: 25px 15px;
        top: 10%;
        right: 0%;
        width: 370px;
        font-size: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .block-contact{
        padding: 25px 15px;
        top: 10%;
        right: 2%;
        width: 370px;
        font-size: 20px;
    }
}
/*
----------------------------------------------------------------------------------------------------------------------
=====================================================page3================================================================================
----------------------------------------------------------------------------------------------------------------------------
*/
.blog-h{
    font-size: 25px;
    font-family: OpenSansSemiBold;
}
.blog-p{
    font-size: 20px;
    font-family: OpenSansSemiBold;
}
.blog-p2{
    font-size: 16px;
    font-family: OpenSansRegular;
    padding-bottom: 15px;
}
.blog-data{
    display: inline-block;
    float: right;
    font-size: 18px;
    font-family: OpenSansSemiBold;
}
.blog{
    padding-top: 50px;
    padding-bottom: 20px;
}
.blog-img{
    width: 270px;
}
.blog-bottom{
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
}
.blog-bottom-p{
    font-size: 30px;
    font-family: OpenSansSemiBold;
}
.pagination-blog{
    text-align: center;
    margin-top: 20px;
}

.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 20px;
    margin-left: 3px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 9px 0px rgba(255,82,92,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(255,82,92,1);
    box-shadow: 0px 0px 9px 0px rgba(255,82,92,1);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #ff525c;
    border-color: #ff525c;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ff525c;
    border-color: #ff525c;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 4px 10px;
        margin-left: 2px;

    }
    .blog{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .blog-img{
        width: 170px;
    }
    .blog-h{
        margin-top: 15px;
        font-size: 18px;
    }
    .blog-p{
        font-size: 14px;
    }
    .blog-p2{
        font-size: 12px;
        padding-bottom: 2px;
    }
    .blog-data{
        float: none;
        font-size: 16px;
    }
    .blog-bottom-p{
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .blog-img{
        width: 170px;
    }
    .blog-h{
        font-size: 20px;
    }
    .blog-p{
        font-size: 16px;
    }
    .blog-p2{
        font-size: 14px;
        padding-bottom: 2px;
    }
    .blog-data{
        float: right;
        font-size: 16px;
    }
    .blog-bottom-p{
        font-size: 25px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {

}

/*
----------------------------------------------------------------------------------------------------------------------
=====================================================page4================================================================================
----------------------------------------------------------------------------------------------------------------------------
*/
.pages4-h{
    margin-top: 80px;
}
.service-h{
    font-size: 30px;
    font-family: OpenSansSemiBold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.service-ul>li{
    font-size: 18px;
    font-family: OpenSansRegular;
}
.service-ul>li {
    color:  #ff525c;
}
.service-ul>li span {
    color: #000;
}

.table{
    margin-top: 40px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(204,203,203,1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(204,203,203,1);
    box-shadow: 0px 0px 30px 5px rgba(204,203,203,1);
}
.checkbox {
    margin:7px 0 0;
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.header-td{
    font-family:  OpenSansSemiBold;
    font-size: 20px;
}
td{
    font-family:  OpenSansRegular;
    font-size: 20px;
}
/*=========================================media======================================*/
@media (max-width: 767px) {
    .buter{
        width: 35px;
    }
    .header-td{
        font-size: 15px;
    }
    td{
        font-size: 15px;
    }
    .service-h{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .service-ul>li{
        font-size: 15px;
    }
}
.jqueryOptions{
    display: none!important;
}
.jqueryOptions.current-opt{
    display: block!important;
}











