@import "vars";
/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {}

//Large: ≥992px
@include media-breakpoint-down(lg) {
	.method {
		.payment {
			&__item {
				padding: 15px 20px;
				&-info {
					&-name {
						font-size: 1.125em;
					}
					&-commission {
						font-size: 1em;
					}
				}
				&-currency {
					margin-left: 30px;
				}
			}
		}
	}
}

//Medium: ≥768px
@include media-breakpoint-down(md) {
	.method {
		&-price{
			text-align: center;
		}
		.payment {
			&__item{
				max-width: 380px;
				margin: 15px auto;
			}
			.col-lg-6:nth-child(odd) {
				padding-right: 15px;
			}
			.col-lg-6:nth-child(even) {
				padding-left: 15px;
			}
		}
	}
}

//Small: ≥576px
@include media-breakpoint-down(sm) {}

//Extra small: >0
@include media-breakpoint-down(xs) {}

/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {}

//Small: ≤576px
@include media-breakpoint-up(sm) {}

//Medium: ≤768px
@include media-breakpoint-up(md) {}

//Large: ≤992px
@include media-breakpoint-up(lg) {}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {}