@import "vars";
@import "fonts";
@import "libs";
::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html,
body {
	height: 100%;
}

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input,
	textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.button {
	border-radius: 10px;
	background-image: -moz-linear-gradient( 8deg, rgb(116, 79, 193) 0%, rgb(0, 134, 216) 0%, rgb(0, 159, 234) 75%, rgb(0, 183, 251) 100%);
	background-image: -webkit-linear-gradient( 8deg, rgb(116, 79, 193) 0%, rgb(0, 134, 216) 0%, rgb(0, 159, 234) 75%, rgb(0, 183, 251) 100%);
	background-image: -ms-linear-gradient( 8deg, rgb(116, 79, 193) 0%, rgb(0, 134, 216) 0%, rgb(0, 159, 234) 75%, rgb(0, 183, 251) 100%);
	border: none;
	height: 60px;
	width: 245px;
	color: #fff;
	font-size: 1.063em;
}

.tarif {
	margin-top: 76px;
	&-shadow {
		box-shadow: 0px 15px 28px 12px rgba(107, 107, 107, 0.04);
		border-radius: 0 0 10px 10px;
		position: relative;
	}
	&__top {
		background: #f7f7f7;
		color: #434343;
		border-radius: 10px 10px 0 0;
		font-size: 1.125em;
		line-height: 50px;
		&-tarifname {
			padding-left: 50px;
		}
		&-tariftime {
			text-align: center;
		}
		&-tarifprice {
			text-align: right;
			padding-right: 110px;
		}
	}
	&__item {
		padding-top: 25px;
		color: #4a4a4a;
		padding-bottom: 25px;
		font-size: 18px;
		position: relative;
		&-name {
			padding-left: 50px;
			&-img {
				&__image {
					max-height: 80px;
				}
			}
			&__name {
				font-size: 1.563em;
				text-transform: uppercase;
				padding-left: 20px;
				font-weight: 500;
			}
		}
		&-price {
			padding-right: 100px;
			text-align: right;
			font-weight: 500;
		}
		&-time {
			text-align: center;
			.dropdown-button {
				background-image: url(../img/dd-button.png);
				width: 18px;
				cursor: pointer;
				height: 18px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
			}
			&-dropdown {
				display: none;
				position: absolute;
				text-align: center;
				width: 100%;
				top: 0;
				background: #fff;
				z-index: 10;
				border-radius: 10px;
				font-size: 2rem;
				height: 100%;
				left: 0;
				&.active{
					display: flex!important;
				}
				&-item {
					text-align: center;
					&:hover, &.active {
						background: #00b7fb;
						border-radius: 10px;
						color: #fff;
					}
				}
			}
		}
	}
}

.method {
	margin-top: 100px;
	margin-bottom: 76px;
	&-bg {
		padding: 70px 50px;
		padding-bottom: 30px;
		border-radius: 10px;
		background-color: rgb(247, 247, 247);
		box-shadow: 0px 15px 34.96px 3.04px rgba(107, 107, 107, 0.1);
	}
	&-pay {
		color: #434343;
		font-size: 1.125em;
		font-weight: 500;
	}
	&-price {
		font-size: 1.125em;
		text-align: right;
		color: #5b5b5b;
		b {
			color: #434343;
			font-weight: 500;
		}
	}
	.payment {
		.col-lg-6:nth-child(odd) {
			padding-right: 30px;
		}
		.col-lg-6:nth-child(even) {
			padding-left: 30px;
		}
		&__item {
			margin-top: 30px;
			border-radius: 10px;
			border: 2px solid #e2e2e2;
			background: #fff;
			padding: 25px 35px;
			transition: border 0.2s;
			&.active {
				border: 2px solid #00b7fb;
				transition: all 0.2s;
				.payment__item-currency {
					transition: all 0.2s;
					&:before {
						transform: rotate(90deg);
						bottom: 23%;
						transition: all 0.2s;
					}
				}
			}
			&:hover {
				cursor: pointer;
				border: 2px solid #00b7fb;
			}
			&-logo {
				padding-right: 30px;
				position: relative;
			}
			&-info {
				padding-left: 30px;
				position: relative;
				&::before {
					content: "";
					left: 0;
					height: 100%;
					width: 2px;
					top: 0;
					background: #e2e2e2;
					position: absolute;
				}
				&-name {
					font-size: 1.563em;
					font-weight: 500;
				}
				&-commission {
					font-size: 1.375em;
					color: #9b9b9b;
				}
			}
			&-currency {
				margin-left: 75px;
				font-size: 1.375em;
				color: #9c9d9e;
				font-weight: 500;
				line-height: 1;
				position: relative;
				text-transform: uppercase;
				&:before {
					content: "";
					background-image: url(../img/arrows-button.png);
					width: 12px;
					height: 17px;
					background-size: contain;
					background-repeat: no-repeat;
					transition: all 0.2s;
					bottom: 50%;
					right: -40px;
					transform: translateY(35%);
					position: absolute;
				}
			}
		}
	}
	&-bottom {
		text-align: center;
		span {
			margin-top: 75px;
			display: block;
		}
		.button {
			margin: 0 auto;
			margin-top: 40px;
		}
	}
}

@import "media"; // Always at the end