@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.owl-prev {
		left: -45px;
	}
	.owl-next {
		right: -45px;
	}
}

// ≥992px
@include media-breakpoint-down(md) {
	header.header .header__slider-container{
		min-height: 85vh;
	}
	header.header{
		min-height: 100vh;
	}
	header.header .main-mnu__item{
		padding: 0 15px;
		a{
			font-size: 12px;
		}
	}
	.top-menu__service-item{
		font-size: 10px;
	}
	.owl-prev {
		left: -55px;
	}
	.owl-next {
		right: -55px;
	}
	.review .border-gradient{
		display: none;
	}
	.review .review__text{
		text-align: center;
		padding-right: 0;
	}
}

// ≥768px
@include media-breakpoint-down(sm) {
	header.header .main-mnu{
		position: absolute;
		width: 100%;
		top: -1px;
		z-index: 4;
		color: #fff;
	}
	header.header{
		.logo{
			position: relative;
			z-index: 5;
		}
	}
	header.header .main-mnu ul{
		text-align: left;
		margin: 0;
		padding: 0;
		padding-top: 100px;
		background: #000;
	}
	header.header .main-mnu__item{
		display: block;
		padding: 0;
		line-height: 1.7;
		a{
			color: #fff;
			line-height: 1.7;
			padding: 15px 30px;
			font-size: 16px;
			display: block;
			&:hover{
				background: #fff;
				padding: 15px 30px;
				color: #000;
			}
		}
	}
	.toggle-mnu{
		width: 50px;
		position: relative;
		z-index: 5;
		height: 50px;
		float: right;
		margin-top: 30px;
		span{
			background: #fff;
			display: block;
			height: 5px;
			margin-top: 10px;
			&:first-child{
				margin-top: 0;
			}
		}
	}
	.aboutus {
		h2.section__title{
			margin: 30px 0;
		}
		p{
			margin-top: 0;
			text-align: center;
		}
		a.button{
			text-align: center;
			float: initial;
			display: initital;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.top-menu ul{
		text-align: center;
		.top-menu__service-link{
			padding: 0 0;
		}
	}

}

// ≥576px
@include media-breakpoint-down(xs) {
	.advantages .advantages__title{
		margin-top: 80px;
	}

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {
	.hidden-mnu{
		display: none!important;
	}
}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
}
